<div class="profile-section">
  <div class="banner">
    <div class="container">
      <h1>My Profile</h1>
    </div>
  </div>
  <div class="main-content">
    <div class="container">
      <div class="tab-wrapper clearfix">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
            <img src="../../assets/Images/Accri-Icon.png" alt="Accreditations">
            <p>Accreditations</p>
          </a>
          <a class="nav-link active" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
            <img src="../../assets/Images/Cont-Infio-Icon.png" alt="Contact Information">
            <p>Contact Information</p>
          </a>
          <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
            <img src="../../assets/Images/Advi-Icon.png" alt="Advisor">
            <p>Picture of Advisor</p>
          </a>
        </div>
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <form class="contact-info-form">
              <div class="form-group row">
                <div class="col-sm-6">
                  <div class="row">
                    <label for="AAMS" class="col-sm-4 col-form-label">AAMS:</label>
                    <div class="col-sm-8">
                      <!-- <div class="value">Old Mutual</div> -->
                      <input type="text" class="form-control" id="AAMS" disabled value="Yes">
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="row">
                    <label for="ADPA" class="col-sm-4 col-form-label">ADPA:</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="ADPA" disabled value="">
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-6">
                  <div class="row">
                    <label for="AEP" class="col-sm-4 col-form-label">AEP:</label>
                    <div class="col-sm-8">
                      <!-- <div class="value">Old Mutual</div> -->
                      <input type="text" class="form-control" id="AEP" disabled value="Yes">
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="row">
                    <label for="AWMA" class="col-sm-4 col-form-label">AWMA:</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="AWMA" disabled value="Yes">
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-6">
                  <div class="row">
                    <label for="ChFC" class="col-sm-4 col-form-label">ChFC:</label>
                    <div class="col-sm-8">
                      <!-- <div class="value">Old Mutual</div> -->
                      <input type="text" class="form-control" id="ChFC" disabled value="Yes">
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="row">
                    <label for="CFP" class="col-sm-4 col-form-label">CFP:</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="CFP" disabled value="Yes">
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-6">
                  <div class="row">
                    <label for="CPMA" class="col-sm-4 col-form-label">CPMA:</label>
                    <div class="col-sm-8">
                      <!-- <div class="value">Old Mutual</div> -->
                      <input type="text" class="form-control" id="CPMA" disabled value="Yes">
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <form class="contact-info-form">
              <div class="form-group row">
                <div class="col-sm-6">
                  <div class="row">
                    <label for="advisor" class="col-sm-4 col-form-label">Advisor:</label>
                    <div class="col-sm-8">
                      <!-- <div class="value">Old Mutual</div> -->
                      <input type="text" class="form-control" id="advisor" disabled value="Scott Woepke">
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="row">
                    <label for="officeName" class="col-sm-4 col-form-label">Office Name:</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="officeName" disabled value="Midwest Advisory Services ">
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-6">
                  <div class="row">
                    <label for="address" class="col-sm-4 col-form-label">Office Address Line 1:</label>
                    <div class="col-sm-8">
                      <!-- <div class="value">Insurance.Invetment.Savings.Banking</div> -->
                      <input type="text" class="form-control" id="address" disabled value="123 Main ">
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="row">
                    <label for="address2" class="col-sm-4 col-form-label">Office Address Line 2:</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="address2" disabled value="Suite 392">
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-6">
                  <div class="row">
                    <label for="office-city" class="col-sm-4 col-form-label">Office City :</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="office-city" disabled value="Hinsdale">
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="row">
                    <label for="office-state" class="col-sm-4 col-form-label">Office State:</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="office-state" disabled value="IL ">
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-6">
                  <div class="row">
                    <label for="zip" class="col-sm-4 col-form-label">Office Zip :</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="zip" disabled value="60521">
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="row">
                    <label for="office-phone" class="col-sm-4 col-form-label">Office Main Phone #:</label>
                    <div class="col-sm-8">
                      <!-- <div class="value">501 East Ward Drive</div> -->
                      <input type="text" class="form-control" id="office-phone" disabled value="630.555.9999">
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-6">
                  <div class="row">
                    <label for="advisor-phone" class="col-sm-4 col-form-label">Advisor Phone:</label>
                    <div class="col-sm-8">
                      <!-- <div class="value">Erica Tweedy</div> -->
                      <input type="text" class="form-control" id="advisor-phone" disabled value="630.555.9998">
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="row">
                    <label for="advisor-phone2" class="col-sm-4 col-form-label">Advisor Phone II:</label>
                    <div class="col-sm-8">
                      <!-- <div class="value"></div> -->
                      <input type="text" class="form-control" id="advisor-phone2" disabled value="630,556.00">
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-6">
                  <div class="row">
                    <label for="twitter" class="col-sm-4 col-form-label">Advisor Twitter:</label>
                    <div class="col-sm-8">
                      <!-- <select type="text" class="form-control" id="secondary-title">
                        <option value="0">Please Select</option>
                      </select> -->
                      <input type="text" class="form-control" id="twitter" disabled value="@woepke">
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="row">
                    <label for="facebook" class="col-sm-4 col-form-label">Advisor Facebook:</label>
                    <div class="col-sm-8">
                      <!-- <div class="value">Conway</div> -->
                      <input type="text" class="form-control" id="facebook" disabled value="swoekpeInvestments">
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-6">
                  <div class="row">
                    <label for="linkedin" class="col-sm-4 col-form-label">Advisor LinkedIn:</label>
                    <div class="col-sm-8">
                      <!-- <div class="value">Erica.Tweedy@acxiom.com</div> -->
                      <input type="text" class="form-control" id="linkedin" disabled value="swoekpe@genericinvestments.com">
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="row">
                    <label for="blog" class="col-sm-4 col-form-label">Advisor Website - Blog:</label>
                    <div class="col-sm-8">
                      <!-- <div class="value">AR</div> -->
                      <input type="text" class="form-control" id="blog" disabled value="">
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-12">
                  <div class="row">
                    <label for="bio" class="col-sm-2 col-form-label">Advisor Biography :</label>
                    <div class="col-sm-10">
                      <!-- <div class="value">www.acxiom.com</div> -->
                      <textarea id="bio" class="form-control" rows="4" disabled style="max-width: 500px;">Scott has been a register investment advisor for 30 years.  After working for a major firm for 8 years, Scott started Midwest Advisory in 1992.  The firm has grown to over $3.6 Billiion assets under management.  Scott is nationally recognised for his work in the area of retirement planning.  He has received a number of accedidations in financial planning, focusing on the area of retirement planning.</textarea>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
            <div class="advisor-image">
              <img src="../../assets/Images/profile-avatar.jpg" alt="Advisor" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
