<app-angular-carousel class="banner"></app-angular-carousel>
<!-- <div class="banner"></div> -->
<section class="home-content">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>What's New</h2>
        <h4>Financial Wellness Basics</h4>
        <p>When it comes to financial wellness, small steps can make a big difference <br>
        <a href="#">To learn more</a></p>

        <h4>Retirement Planning </h4>
        <p>Saving for the future through a workplace retirement plan boils down to a few basics. Explore this quick video to learn what they are<br>
        <img src="../../assets/Images/video.png" alt="Youtube"> Watch Now</p>

        <h4>Client Relationship Center </h4>
        <p>Tools for articulating your value. Please read the latest publication on how to set your practice apart</p>
        <a href="#"><img src="../../assets/Images/pdf.png" alt="PDF"> Download</a>
      </div>
      <div class="col-md-4">
        <h2>My Calendar</h2>
        <div class="calendar">
          <div class="calendar-item clearfix">
            <div class="date-wrapper">
              <div class="month">Apr</div>
              <div class="date">02</div>
            </div>
            <div class="content">
              <div><span class="blue">Susan Stratford</span> 12 pm lunch appointment/Lark Creek Café</div>
              <div><span class="blue">Robert Bass</span> 3:30 Portfolio Review/Office</div>
            </div>
          </div>
          <div class="calendar-item clearfix">
            <div class="date-wrapper">
              <div class="month">Apr</div>
              <div class="date">03</div>
            </div>
            <div class="content">
              <div><span class="blue">Frank/Ellen Ross</span> 9:30 Tax Discussion/Office</div>
              <div><span class="blue">ETF Webinar</span> 3:30</div>
            </div>
          </div>
          <div class="calendar-item clearfix">
            <div class="date-wrapper">
              <div class="month">Apr</div>
              <div class="date">04</div>
            </div>
            <div class="content">
              <div><span class="blue">Frederic Duvall</span>  9:00 New Client Discussion/Office</div>
              <div><span class="blue">Maria Rodriquez</span>  4:00 Asset Allocation/Office</div>
            </div>
          </div>
          <div class="calendar-item clearfix">
            <div class="date-wrapper">
              <div class="month">Apr</div>
              <div class="date">05</div>
            </div>
            <div class="content">
              <div><span class="blue">ETF Seminar</span> 9:00 am Westin Hotel</div>
            </div>
          </div>
          <div class="calendar-item clearfix">
            <div class="date-wrapper">
              <div class="month">Apr</div>
              <div class="date">05</div>
            </div>
            <div class="content">
              <div><span class="blue">Friday Ravi Balasubraham</span>  9:00 Small Business Planning/Office</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h2>My Alerts</h2>
        <div class="my-alerts">
          <div class="alert-item">
            <h4><img class="user-icon" src="../../assets/Images/user.png" alt="PDF"> Richard Smith</h4>
            <p>Portfolio Balance dropped 15% in past week</p>
          </div>
          <div class="alert-item">
            <h4><img class="user-icon" src="../../assets/Images/user.png" alt="PDF"> Tracy Montgomery</h4>
            <p>Job Change</p>
          </div>
          <div class="alert-item">
            <h4><img class="user-icon" src="../../assets/Images/user.png" alt="PDF"> Bob Sanford</h4>
            <div class="popup" (mouseenter)="myFunction()" (mouseleave)="myFunction()">Address Change<span class="popuptext" id="myPopup">New Address is 1263 Maritas Ave., Walnut Creek, CA 94125</span>
            </div>
            <!-- <p>Address Change </p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
