.btn {
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: Flexo-Light;
}

.btn-primary {
  color: #fff;
  background-color: #76c26b;
  border-color: #76c26b;
}

.btn-primary:hover,
.btn-primary:active {
  color: #fff;
  background-color: #76c26b;
  border-color: #76c26b;
}
