.header {
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
  .nav-item {
    .nav-link {
      font-family: 'Flexo-Light', sans-serif;
      font-size: 14px;
      line-height: normal;
      color: #63666a;
      padding: 20px 20px 28px;
      text-decoration: none;
      cursor: pointer;
    }
    &:hover {
      > .nav-link,
      .nav-link.active {
        background: #73c167;
        color: #fff;
      }
      .dropdown-toggle::after {
        background: url("../../assets/Images/whitenavarrow.png");
      }
    }
  }
  .dropdown-item.active {
    background: none;
  }
  .nav-item .nav-link.active {
    color: #73c167;
    // &.dropdown-toggle::after {
    //   background: url("../../assets/Images/whitenavarrow.png");
    // }
  }
  .nav-item.dropdown:hover > .dropdown-menu {
    display: block;
  }
  .dropdown-toggle::after {
    background: url("../../assets/Images/navarrow.png");
    border: none;
    width: 6px;
    height: 5px;
    vertical-align: 0.150em;
  }
  .dropdown-menu {
    right: 0;
    left: auto;
    border: none;
    border-radius: 0;
    background: #73c167;
    margin: 0;
    font-size: 14px;
    > a {
      color: #FFFFFF;
      text-decoration: none;
      &:hover {
        background: none;
      }
    }
  }
  .navbar {
    padding: 0;
    a.navbar-brand.active {
      padding: 7px 0 14px;
    }
    #collapsibleNavbar {
      padding-top: 10px;
      align-self: flex-start;
    }
    a.navbar-brand img {
      width: 153px;
    }
  }
}

.breadcrumb {

}

// .header .nav-item:hover > a {
//   background: #73c167;
//   color: #fff !important;
// }

// .header .navbar {
//   padding: 0;
// }

// .header .navbar a.navbar-brand.active {
//   padding: 7px 0 14px;
// }

// .header .navbar #collapsibleNavbar {
//   padding-top: 10px;
//   align-self: flex-start;
// }

// .header .navbar a.navbar-brand img {
//   width: 153px;
// }
.breadcrumb-wrapper {
  border-top: 1px solid #a5a5a5;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 132px;
  z-index: 1;
  background-color: #fff;
  line-height: 35px;
  color: #a5a5a5;
  font-size: 12px;
  text-transform: capitalize;
  font-family: Helveticaneue, sans-serif;
}
.bread-home{
  float: left;
  cursor: pointer;
  color: #63666a;
}
.bread-mid{
  float: left;
  margin: 0px 10px;
  font-size: 14px;
}
.bread-last{
  float: left;
  color: #c8c8c8;
}
.footer {
  border-top: 1px solid #6f6f6f;
  padding: 20px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: #000000;
  .copyright,
  .footer-menu {
    margin: 0;
    color: #c8c8c8;
  }
  .copyright {
    color: #737373;
    font-family: Helvetica, sans-serif;
    margin-top: 10px;
  }
  .footer-menu a {
    color: #c8c8c8;
    text-decoration: none;
  }
  .social-icons {
    h3 {
      color: #c8c8c8;
      font-family: Helvetica, sans-serif;
      font-size: 18px;
      a {
        text-decoration: none;
        color: #c8c8c8;
      }
      i {
        width: 26px;
        height: 26px;
        background: #c8c8c8;
        border-radius: 50%;
        text-align: center;
        color: #000;
        line-height: 26px;
        font-size: 16px;
      }
    }
    p {
      font-size: 14px;
      color: #737373;
      font-family: Helvetica, sans-serif;
      margin: 0;
    }
  }
}


@media (max-width: 991px) and (min-width: 768px) {
  .header .nav-item .nav-link {
    font-size: 13px;
    padding: 20px 9px 28px;
  }
  .dropdown-menu {
    font-size: 13px;
  }
}
